html{
    scroll-behavior: smooth;
}
/*BODY*/

body{
    margin: 0%; /*displays to top of webpage*/
}

/* Heading 1 elements */

h1 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 3%;
    color: #191921
}

/*Heading 1 hover effect*/

h1:hover {
    filter:grayscale(5%);
    transform:scale(1.1);
    transition: transform 1s;
}

/*Styling for portfolio title text*/

.white-text{
    color: rgb(235, 245, 255);
}

/*Paragraph elements*/

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover{
    color:#cacae1;
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover{
    transition: transform 2s;
    transform: scale(1.1); 
}

/*Anchor element*/

a{
    color:darkslategrey;
}

/*Image Elements*/

img {
    filter:grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}
/*Styling for footer */

footer{
    padding: 2%;
    background-color: #fff;
}

/*****END OF GENERAL STYLING*****/

/*****NAVBAR STYLING*****/

.navbar{
    overflow: hidden;
    background-color: #191921;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav{
    from{left: -100vw}
    to{left: 0vw}
}

/* navbar links */

.navbar a{
    float:left;
    display: block;
    color: antiquewhite;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
}

@keyframes moveNavText{
    from{top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max width: 576px){
.navbar a{
    width: 25%;
    font-size: 12px;
}
}

.navbar a:hover{
    background-color: #4c4c60;
    color: #050506;
    font-weight: bold;
}

.navbar a.active{
    background-color: darkslategray;
}

/*END NAVBAR STYLING*/

/* VIDEO STYLING */

#coding_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #coding_video{
        display: none;
    }
}

.video_text {
    background: rbga(0,0,0,0.5);
    color: antiquewhite;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5s;
    animation: moveVideoText 5s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/***END VIDEO STYLING***/

/***TABLE STYLING (COLUMNS)***/

*{
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: darkslategray;
}

@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float:left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgb(84, 115, 123);
}

.column_tall{
    padding-top: 1.9%;
    height: 450px;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}

/* END OF TABLESTYLING */

/*** CONTACT FORMSTYLING ***/

input[type=text] {
    width:100%;
    padding: 12px;
    border: 1px solid rgb(179, 190, 205);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
}

input[type=text]:hover{
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Courier New', Courier, monospace;
}

input[type=submit]:hover{
    background-color: antiquewhite;
    color: #191921;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/*form element*/

form{
    border-radius: 5px;
    background-color: #4c4c60;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


/*END*/
    